<?xml version="1.0"?>
<config>
    <modules>
        <AHT_Qa>
            <version>0.1.0</version>
        </AHT_Qa>
    </modules>
    <frontend>
        <routers>
            <qa>
                <use>standard</use>
                <args>
                    <module>AHT_Qa</module>
                    <frontName>qa</frontName>
                </args>
            </qa>
        </routers>
        <layout>
            <updates>
                <qa>
                    <file>qa.xml</file>
                </qa>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <qa>
                <class>AHT_Qa_Model</class>
                <resourceModel>qa_mysql4</resourceModel>
            </qa>
            <qa_mysql4>
                <class>
                    AHT_Qa_Model_Mysql4
                </class>
                <entities>
                    <qa>
                        <table>qa</table>
                    </qa>
                </entities>
            </qa_mysql4>
        </models>
        <resources>
            <qa_setup>
                <setup>
                    <module>AHT_Qa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qa_setup>
            <qa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qa_write>
            <qa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qa_read>
        </resources>
        <blocks>
            <qa>
                <class>AHT_Qa_Block</class>
            </qa>
        </blocks>
        <helpers>
            <qa>
                <class>AHT_Qa_Helper</class>
            </qa>
        </helpers>
    </global>    
</config>
