<?xml version="1.0"?>
<config>
    <modules>
        <AHT_CreatorModule>
            <version>0.1.0</version>
        </AHT_CreatorModule>
    </modules>
    <frontend>
        <routers>
            <creatormodule>
                <use>standard</use>
                <args>
                    <module>AHT_CreatorModule</module>
                    <frontName>creatormodule</frontName>
                </args>
            </creatormodule>
        </routers>
        <layout>
            <updates>
                <creatormodule>
                    <file>creatormodule.xml</file>
                </creatormodule>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <creatormodule>
                <use>admin</use>
                <args>
                    <module>AHT_CreatorModule</module>
                    <frontName>creatormodule</frontName>
                </args>
            </creatormodule>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <creatormodule module="creatormodule">
                <title>QuestionAnswer</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="creatormodule">
                        <title>Manage Question</title>
                        <sort_order>0</sort_order>
                        <action>creatormodule/adminhtml_creatormodule</action>
                    </items>
                </children>
            </creatormodule>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <AHT_CreatorModule>
                            <title>CreatorModule Module</title>
                            <sort_order>10</sort_order>
                        </AHT_CreatorModule>
                    </children>
                </admin>
            </resources>
        </acl>
<!--        <rewrite>
             <catalog_product_edit_tabs>AHT_CreatorModule_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
         </rewrite>-->
        <layout>
            <updates>
                <creatormodule>
                    <file>creatormodule.xml</file>
                </creatormodule>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <creatormodule>
                <class>AHT_CreatorModule_Model</class>
                <resourceModel>creatormodule_mysql4</resourceModel>
            </creatormodule>
            <creatormodule_mysql4>
                <class>AHT_CreatorModule_Model_Mysql4</class>
                <entities>
                    <creatormodule>
                        <table>creatormodule</table>
                    </creatormodule>
                </entities>
            </creatormodule_mysql4>
        </models>
        <resources>
            <creatormodule_setup>
                <setup>
                    <module>AHT_CreatorModule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creatormodule_setup>
            <creatormodule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </creatormodule_write>
            <creatormodule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </creatormodule_read>
        </resources>
        <blocks>
            <creatormodule>
                <class>AHT_CreatorModule_Block</class>
            </creatormodule>
<!--            <creatormodule>
                <class>AHT_Answer_Block</class>
            </creatormodule>-->
        </blocks>
        <helpers>
            <creatormodule>
                <class>AHT_CreatorModule_Helper</class>
            </creatormodule>
        </helpers>
    </global>
</config>